WebContent/wsdl/ClienteService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://gabriel.soap.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://gabriel.soap.com" xmlns:intf="http://gabriel.soap.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://gabriel.soap.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="salvarCliente">
    <complexType>
     <sequence>
      <element name="nome" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="salvarClienteResponse">
    <complexType/>
   </element>
   <element name="listarClientes">
    <complexType/>
   </element>
   <element name="listarClientesResponse">
    <complexType>
     <sequence>
      <element name="listarClientesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="salvarClienteResponse">

      <wsdl:part element="impl:salvarClienteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listarClientesResponse">

      <wsdl:part element="impl:listarClientesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listarClientesRequest">

      <wsdl:part element="impl:listarClientes" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="salvarClienteRequest">

      <wsdl:part element="impl:salvarCliente" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ClienteService">

      <wsdl:operation name="salvarCliente">

         <wsdl:input message="impl:salvarClienteRequest" name="salvarClienteRequest">

       </wsdl:input>

         <wsdl:output message="impl:salvarClienteResponse" name="salvarClienteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listarClientes">

         <wsdl:input message="impl:listarClientesRequest" name="listarClientesRequest">

       </wsdl:input>

         <wsdl:output message="impl:listarClientesResponse" name="listarClientesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ClienteServiceSoapBinding" type="impl:ClienteService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="salvarCliente">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="salvarClienteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="salvarClienteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listarClientes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listarClientesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listarClientesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ClienteServiceService">

      <wsdl:port binding="impl:ClienteServiceSoapBinding" name="ClienteService">

         <wsdlsoap:address location="http://localhost:8080/SOAP/services/ClienteService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
